* {
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #efefef;
    color: black;
    margin: 0;
}
h1 {
    font-weight: normal;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
.clearfix:after {
    content: '';
    display: block; 
    clear: both;
}
/*
 * Loading  animation
 */
.site-welcome.active {
    display: block;
    z-index: 99;
}
.site-welcome {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    background: #fff;
    height: 100%;
    width: 100%;
}
.loader::before,.loader::after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    animation: loading 1.5s linear infinite;
    transform: scale(0);
}
.loader::after{
    animation-delay: 0.75s;
}
@keyframes loading {
    0% {
        opacity: 1;
        transform: scale(0);
    } 
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/*
 * TopNavBar fixed
 */

.topNavBar.sticky {
    padding: 10px 16px;
    background: #fff;
    color: black;
    box-shadow: 0px 1px 6px rgba(0,0,0,.5);
    z-index: 10;
}

.topNavBar {
    padding: 20px 16px;
    position: fixed;
    width: 100%;
    color: #b7b7b7;
}
.topNavBar .logo {
    float: left;
    font-size: 24px;
    font-family: 'Arial Black'; 
    font-weight: bold;
    padding-top: 6px;
    color: #b7b7b7;
}
.topNavBar>.logo>.rs {
    color: #e6686a;
    padding-right: 4px;
}
.topNavBar>.lobo>.card {
    color: #e6686a;
}
.topNavBar>nav {
    float: right;
    margin-right: 32px;
    padding: 10px;
}
.topNavBar>nav>ul>li {
    list-style: none;
    float: left;
    font-size: 12px;
    margin-right: 17px;
    margin-left: 17px;
    font-weight: bold;
    position: relative;
}
.topNavBar>nav>ul>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid transparent; 
    border-top: 3px solid transparent; 
    position: relative;
    display: block;
}
/* 
 * Silde Bar
 */
.topNavBar>nav>ul>li>a::after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    height: 4px;
    background: #e06567; 
    transition: all .3s;
    width: 0;
}
.topNavBar>nav>ul>li.active>a:after ,
.topNavBar>nav>ul>li.highlight>a:after {
    width: 100%;
}

[data-x] {
    transform: translateY(0);
    transition: all .3s;
}

[data-x].offset {
    transform: translateY(200px);
}

/*
 * Trigger SubMenu
 */
.topNavBar>nav>ul>li>.subMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    white-space: nowrap;
    color: #3d4451;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    opacity: 0;
}
@keyframes submenuSlide {
    0% {
        margin-right:100%;
    }
    100% {
        margin-right: 0;   
    }
}
.topNavBar>nav>ul>li>.subMenu li{
    padding: 5px 10px;
    text-align: center;
}
.topNavBar>nav>ul>li.active>.subMenu {
    animation: submenuSlide .5s;
    opacity: 1;
}





.banner {
    background: url('./img/rs-cover.jpg');
    height: 515px;
    background-position: center center; 
    background-size: cover;
}
.banner .mask {
    height: 100%;
    background: rgba(0,0,0,.8);
}
main {
    margin-top: -340px;
}
.userCard {
    max-width: 940px;
    margin: 0 auto; 
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.userCard .userInfo {
    padding: 50px;
}
.userCard .userInfo .picture{
    float: left;
}
.userCard .userInfo .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .text .welcome {
    background: #e6686a;
    color: white;
    padding: 4px 16px;
    margin-bottom: 32px;
    display: inline-block;
    position: relative;
}
.userCard .text .welcome .triangle {
    display: block;
    border: 10px solid transparent;
    width: 0px;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 4px;
    top: 100%;
}
.text hr {
    margin: 20px 0;
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
.userCard .text dl dt {
    float: left;
    width: 30%;
    font-weight: bold;
    font-size: 18px;
    padding: 5px 0;
    font-size: 18px;
}
.userCard .text dl dd {
    float: left;
    width: 70%;
    color: #9da0a7;
    padding: 9px 0 7px 0;
    font-size: 14px;
}
footer {
    background: #e66768;
    text-align: center;
}
footer .icon {
    width: 40px;
    height: 40px;
    fill: white;
    border-radius: 50%;
}
footer .icon:hover {
    background: #cf5d5f;
}
footer a {
    padding: 14px 18px;
    display: inline-block;
}
main .downloadwrapper {
    text-align: center;
    margin: 32px 0;
}
main .downloadwrapper .download{
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    border: 1px solid #cdcfd1;
    padding: 20px 55px;
    display: inline-block;
    background: #efefef;
    color: #3d4451;
    transition: all 0.2s;
}
main .downloadwrapper .download:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2)
}
main .slefIntroduction {
    max-width: 940px;
    margin: 0 auto; 
    font-size: 20px;
    text-align: center;
    font-family: cursive;
    line-height: 32px;
}
section.skills {
    max-width: 940px;
    margin: 60px auto; 
}
.skills h2 {
    font-size: 34px;
    line-height: 1.2;
    text-align: center;
}
.skills h3 {
    font-weight: normal;
    font-size: 16px;
}
.skills ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    margin-top: 40px;
    padding: 42px 50px 10px;
}
.skills ol li:nth-child(odd){
    float: left;
    width: 48%;
    font-size: 16px;
    padding: 4px 0;
}
.skills ol li:nth-child(even){
    float: right; 
    width: 48%;
    font-size: 16px;
    padding: 4px 0;
}
.skills .processBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0px 40px;
    overflow: hidden;
}
.skills .processBar .process{
    height: 100%;
    width: 78%;
    background: #E6686A;
    border-radius: 2px;
    transition:all 1s;
    overflow:hidden;
    transform: translateX(0);
}
.skills.offset .processBar .process{
    transform: translateX(-100%);
}
section.portfolio {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}
.portfolio h2 {
    font-size: 34px;
}
.portfolio nav {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 28px;
}
.portfolio nav ul {
    display: inline-block;
    vertical-align: top;
}
.portfolio nav ul li {
    float: left;
    margin: 0 20px;
    cursor: pointer;
}
.portfolio nav .bar {
    height: 5px;
    background: white;
    border-radius:2px;
    margin-top: 5px;
}
.portfolio nav .bar-inner {
    border-radius: 2px;
    background: #E6686A;
    height: 100%;
    transition: all 0.3s;
}
.portfolio nav .status1 .bar-inner {
    margin: 0;
    width: 26%
}
.portfolio nav .status2 .bar-inner {
    margin-left: 80px;
    width: 22%; 
}
.portfolio nav .status3 .bar-inner {
    margin-left: 150px;
    width: 46%
}
.portfolio .works {
    max-width: 930px;
    height: 597px;
    position: relative;
    margin-bottom: 50px;
    vertical-align: center;
}
.portfolio .works .img1,
.portfolio .works .img2,
.portfolio .works .img3 {
    position: absolute;
    vertical-align: center;
}
.portfolio .works .img1 {
    top: 0;
    left: 0;
}
.portfolio .works .img2 {
    top: 0;
    right: 0;
}
.portfolio .works .img3 {
    bottom: 0;
    right: 0;
}
.portfolio .works .img3 img {
    display: block;
}

.message {
    max-width: 940px;
    margin-bottom: 100px;
}
.message h2{
    margin-bottom: 32px;
}
.message form{
    margin-bottom: 20px;
}
.message ol li{
    padding: 20px;
    background: #f9f9f9;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
